img {
    max-width: 100%;
    height: auto;
}
p{
    text-align: justify;
}
.form-group{
    margin-bottom: 1rem;
}
.navbar-brand{
    margin-left: 15px;
}
.bg-body{
    margin-left: 350px;
    margin-top: 120px;
    width: 650px;
}

body {
    padding-top: 70px;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
}

.modal-workaround {
    position: unset;
}
